.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    border-style :solid;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}

#screen {
    text-align: right;
    height: 60px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 31px;
}

.button {
    display:grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    border-top: 1px solid #999;
    border-right: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-style: italic;
}


.buttons {
    
    border: 0.5px inset #999;
    border-color:white;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: #808080;
    color:white;
    font-style: italic;
}

.equal {
    background-color:beige;
    color: rgba(10, 9, 9, 0.822);
}
.bt{
     border: 0.5px inset #999;
    border-color:white;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color:beige;
    color:black;
    font-style: italic;
}
   

.buttons:hover {
    background-color: #808080;
    color: white;
    transition: 0.5s ease-in-out;
    
}

h4 {
    text-align: right; 
    font-family: calibri; 
    padding-right: 25px;
   
  }